@import url("https://fonts.googleapis.com/css2?family=Merienda+One&family=Roboto:wght@400;700&display=swap");
:root {
  font-family: "Roboto", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

[role="list"] {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
[role="alert"] {
  color: red;
  font-size: 0.7em;
}

#app {
  display: grid;
  grid-template-rows: auto 1fr auto;
  align-items: flex-start;
  min-height: 100vh;
}
.precios {
  width: 100%;
  border-collapse: collapse;
}
.precios th {
  font-family: "Merienda One", cursive;
}
.precios td,
.precios th,
.tarifa {
  border: 1px solid red;
  padding: 2px 8px 0;
}
.main-header,
.main-footer {
  background-color: rgb(138, 26, 6);
  color: white;
  font-family: "Merienda One", cursive;
}
.main-header__title {
  padding: 1em;
  color: white;
  text-align: center;
}

.main-content {
  margin: 1em auto;
  width: 90vw;
  max-width: 800px;
  display: grid;
  justify-content: center;
  align-items: flex-start;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: .5em;
}

.tarifa {
  padding: 0.3em;
}
.tarifa__imagen {
  box-shadow: 0 0 5px 0 black;
  border-radius: 0.3em;
}
.tarifa img {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 150px;
}
.tarifa figcaption {
  background-color: brown;
  color: white;
  font-family: "Merienda One", cursive;
  padding: 0 0.5em;
}
.calcular ul,
.calcular form {
  width: 100%;
}
.tarifa .calcular {
  display: flex;
  flex-wrap: wrap;
}
.total {
  font-size: 1.2em;
  font-weight: bold;
}
.total::after {
  content: " €";
}

.campo {
  padding: 0.5em;
}
.campo label {
  display: block;
}
.campo input[type="text"],
.campo select {
  width: 100%;
}

.botones {
  display: flex;
  justify-content: space-around;
}
.botones button {
  padding: 0 0.5em;
  padding-top: 0.2em;
  line-height: 1.8em;
  background-color: brown;
  color: white;
  text-transform: uppercase;
  border-style: none;
  border-radius: 0.3em;
  box-shadow: 0 0 0.5em 0.1em black;
  cursor: pointer;
}
.botones button:active {
  transition: all ease-in-out 0.1s;
  background-color: rgb(90, 50, 43);
  transform: scale(0.98);
}
.botones button:disabled {
  background-color: grey;
  cursor: auto;
}
.alert {
  color: red;
}
